version: Build {build}
skip_branch_with_pr: true
image: Previous Visual Studio 2019
install:
  - ps: |
      $dockerPathName = (Get-WmiObject win32_service | ?{$_.Name -eq 'docker'}).PathName
      Write-Host $dockerPathName
      $dockerConfigFile = $dockerPathName.split()[-1].trim('"')
      Get-Content $dockerConfigFile
      $integTestsConfigFile = '.\Source\EasyNetQ.Management.Client.IntegrationTests\settings.json'
      $integTestsConfig = Get-Content $integTestsConfigFile
      $integTestsConfig -replace ("""dockerHttpApiUri"": ""http://127.0.0.1:2375""", """dockerHttpApiUri"": ""npipe://./pipe/docker_engine_windows""") | Set-Content $integTestsConfigFile
before_build:
  - ps: |
      $mostRecentTag = git describe --abbrev=0 --tags --always
      Write-Host "Detected most recent tag is '$mostRecentTag'"
      if ($mostRecentTag.Substring(0, 1) -ne 'v') {
          $mostRecentTag = 'v1.0.0'
          if ($env:APPVEYOR_REPO_TAG -eq 'true') { exit 1 }
      }
      $mostRecentVersion = $mostRecentTag.Substring(1)
      $currentCommitHash = git rev-parse --short HEAD
      Set-AppveyorBuildVariable -Name SW_VER -Value $mostRecentVersion
      Update-AppveyorBuild -Version "Build $env:APPVEYOR_BUILD_NUMBER - Commit $currentCommitHash - Tag v$env:SW_VER"
build_script:
  - ps: |
      $additionalArgs = if ($env:APPVEYOR_REPO_TAG -ne 'true') { "--buildNumber=$env:APPVEYOR_BUILD_NUMBER" }
      .\Tools\build\build.ps1 '--target=Pack' "--softwareVersion=$env:SW_VER" $additionalArgs
      if ($LastExitCode -ne 0) { exit $LastExitCode }
test: off
artifacts:
  - path: Tools\build\artifacts\*.nupkg
  - path: Tools\build\artifacts\*.snupkg
deploy:
  provider: NuGet
  api_key:
      secure: 3V5xTaM49OgJJ8bl6nEcemQt/9NsXmH8PgxqSSKguwBVQ7zM+HUui20dR0qnfT96
  skip_symbols: false
  on:
      appveyor_repo_tag: true
